@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
   font-family: Roboto,system-ui, "Segoe UI",  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   margin:0;
   padding:0;
}

.container{
   height:100vh;
   width:100vw;
   display: grid;
   grid-template: 1fr 4fr / 1fr 5fr;
}

.sidebar{
   background-color: #1992d4;
   grid-row:span 2;
   display:grid;
   grid-template-rows: 1fr 3fr 1.5fr 3fr;
   align-items: center;
   color:white;
   padding:1rem;
   box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

.navigation{
   display:inline-grid;
   gap: 1.5rem;
   padding:1em;
   margin-top:2rem;
}

.dashboard,.navigation>*{
   display:flex;
   align-items: center; 
   justify-content: left;
   gap:1rem;
}

.dashboard img{
   width:4rem;
}

.navigation img,.header img{
   width:2rem;
}

.sidebar a:hover{
   cursor: pointer;
   color: rgb(255, 255, 210);
}

.header{ 
   display: grid;
   grid-template-rows: auto auto;
   padding:1rem 9rem 0.5rem 4rem;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   z-index:1;
   gap:1.5rem;
}

.header>*,.header>*>*{
   display:flex;
   align-items: center; 
}

.header-top{
   justify-content: space-between;
}

.search {
   gap:1rem;
   flex-basis:60%;
}


.search-bar{
   background-color: #e2e8f0;
   padding:1rem;
   border:none;
   border-radius:2rem;
   width:100%; 
}

.my-profile {
   gap:2rem;
}

.my-profile .profile-pic{
   width:4rem;
}

.my-profile h3{
   font-size: 1.5rem;
   font-weight: bold;
}

.profile-pic{
   border-radius: 6rem;
}

.header-bottom{
   justify-content: space-between;
}

.header-greet {
   gap:1.5rem;
}

.greeting{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-weight: bold;
}

.greeting h3{
   font-size: 2rem;
}

.header-greet img{
   width:6rem;
}

.action-buttons {
   gap:2rem;
}

.action-buttons button{
   background-color:  #1992d4;
   color: white;
   border:none;
   width: 8rem;
   border-radius: 25px;
   padding:2% 6%;
   font-size:1.5rem;
}

.action-buttons button:hover {
   background-color:  #82d3ff;
   transform: scale(1.1);
}

.main-content{
   background-color: #e2e8f0;
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.left-side,.right-side{
   display:grid;
   padding:2rem 1rem;
   gap:1rem;
}

.left-side{
   grid-template-rows: auto 2.5fr;
}

.projects{
   display:grid;
   grid-template-columns: auto auto;
   gap:1rem;
}

.projects>*{
   display:grid;
   grid-template-rows: repeat(3,1fr);
   background-color: whitesmoke;
   padding: 1.5rem 0.8rem;
}

.left-side button{
   width:2rem;
   outline:none;
   border:0;
   background-color: whitesmoke;
}

.left-side button:hover{
   cursor: pointer;
}

.right-side{
   grid-template-rows: auto auto;
}

.announcements-section{
   display: grid;
   grid-template-rows: auto auto;
}

.trending-section{
   display: grid;
   grid-template-rows: auto auto;
}

.trending-pages img{
   width:4rem;
}
